@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@700&family=Nobile:ital,wght@1,400;1,500&family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&display=swap');
@import url('//basehold.it/25');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: 'Gentium Basic', serif;
  font-family: 'Nobile', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding: 16px;
  line-height: 25px;
  background-color: #EECDD6
}

h1 {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
 }
 h2{

 }
nav{
  color: #1f0300;
  font-weight: bold;
  padding-top: 5px;
  line-height: 16px;
  background-color: #990033;
  opacity: 0.75;
  border-spacing: 10px;
  border-width: medium;
  border-style: double;
  border-color: #ffe099;

}
#books {
  padding-bottom: 15px;
  padding-bottom: 15px;
}
